@model IEnumerable<Models.Order>

@{
    ViewBag.Title = "IndexOrder";
}

<h2>IndexOrder</h2>

<p>
    @Html.ActionLink("Create New", "CreateOrder")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditOrder", new { id=item.Id }) |
            @Html.ActionLink("Details", "DetailsOrder", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteOrder", new { id=item.Id })
        </td>
    </tr>
}

</table>
